.body-content{
    display: flex;
    flex-flow: row;
}
.item_box{
    display: flex;
    flex-flow: row;
}
.index_slider{
    position: relative;
    max-width: 888px;
    width: 100%;
    left: 4%;
    bottom: -2%;
    padding-top: 1%;
    max-height: 507px;
    height: 100%;
}
.carousel-control{
    width: 0!important;

}
.carousel-caption{
    color: black;
}
.slider_image{
    max-width: 491px!important;
}
.slider_text_container{
    position: relative;
    max-width: 370px;
    left: 54%;
    bottom: 93px;
}
.index_catalog{
    padding: 10px;
    max-width: 25%;
    display: block;
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;

    z-index: 55;
    box-shadow: 0 1px 2px rgba(0,0,0,.12),0 0 3px rgba(0,0,0,.06);
    background: #f7f7f7;
    width: 260px;
    position: relative;
}
.catalog__item_box{
    padding: 10px;
    max-width: 25%;
    display: block;
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;

    z-index: 2;
    box-shadow: 0 1px 2px rgba(0,0,0,.12),0 0 3px rgba(0,0,0,.06);
    background: #f7f7f7;

    position: relative;
    left: 70%;
    display: none;
    }
.catalog__item{
    padding: 0 0 0 15px;
    height: 33px;
    display: flex;
    align-items: center;
    overflow: hidden;
    font-size: 14px;
    transition: background .1s ease-in-out;

}
.header_top{
    background: #f7f7f7;
    height: 40px;
    align-items: center;
}

.header_contaner{
    display: flex;
    flex-flow: row;
    position: relative;
    left: 21%;
    bottom: -20%;
    align-items: center;
    max-width: 1119px;
    justify-content: space-between;


}
body{
    font-family: SF Pro Display,sans-serif;
}

A {
    color: green;
    font-size: 14px!important;
    line-height: 17px!important;
    color: #6d6d6d!important;
    transition: all .2s ease-in-out!important;
    text-decoration: none!important;
}

A:active {
    color: green!important; /* Цвет активных ссылок */
}
html{
    ine-height: 1.15;
}
input {
    display: block;
    outline: none;
    padding: 10px;
    border: 0;
    border-radius: 3px;
    margin: -1px;


    width: 100%;
    box-sizing: border-box;
}
button{
    text-decoration: none;
    color: #000;
    cursor: pointer;
    border: 0;
    box-shadow: none;
    outline: none;
}
.header{
    padding-top: 15px;
    padding-bottom: 15px;
    max-width: 1170px;
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 72px;
}
.headedr_logo{
    width: 177px;

}
.header-group{
    display: flex;
    align-items: center;
    display: flex;
    flex-flow: row;
    width: 100%;

}
.header_navbar{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    flex-flow: row;
}
.search{
    height: 60px;
    width: 100%;
    position: relative;
    z-index: 50;
    background: #89BF15;
    box-shadow: 0 4px 4px;
}
.search_container{
    display: flex;
    flex-flow: row;
    justify-content: center;
    position: relative;
    bottom: -17%;
}
.search_form {
    width: 48%;
    display: flex;
    flex-flow: row;
    border-radius: 3px;
    position: relative;
    left: 5%;
    bottom: -17%;

}
.search_catalog_show{
    position: relative;
    left: -63%;
    bottom: -18%;
}
.search_field{
    position: relative;
    border: 1px solid #e6e4e1;
    box-sizing: border-box;
    display: flex;
    width: 100%;
    outline: none;
    font-size: 14px;
    resize: none;
    border-radius: 3px;
}


#nav{
    height: 70px;
}
#nav ul{
    list-style: none;
}

#nav > ul > li{
    width: 180px;
    position: relative;
    max-width: 25%;

}

#nav li a{
    display: block;
    color: #f7f7f7;
    box-shadow: 0 1px 2px rgba(0,0,0,.12),0 0 3px rgba(0,0,0,.06);
    background: #f7f7f7;
    width: 217px;
    padding: 8px;
}
#nav li a:hover{
    background: white;
}


#nav li .second{
    display: none;
    position: absolute;
    left: 406%;
    top: 0%;
    z-index: 55;
}

#nav li:hover .second{
    display: block;
}

#nav li li{
    width: 180px;
}
.advantage__box{
    max-width: 1121px;
    height: 100%;
    position: absolute;
    width: 100%;
    bottom: -245%;
    left: 21.1%;
}
.advantage__header{
    font-family: 'a_FuturaRound', sans-serif;
    font-size: 2.35vw;
    color: #393939;
    margin: 0px;
    margin-top: 3vw;
    padding: 0px;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.15);
}
.advantage__body{
    display: flex;
    flex-flow: column;
}
.advantage__first{
    display: flex;
    flex-flow: row;
}
.advantage__second{
    display: flex;
    flex-flow: row;
}
.advantage__item_white{

    position: relative;
    transform-style: preserve-3d;
    transition: 0.6s;

    margin: 1vw;
    float: left;
    width: 27vw;
    height: 27vw;

    background-color: #F8F8F8;
    background-image: none;
    color: #000;
    cursor: pointer;


}
.advantage__item_green{

    position: relative;
    transform-style: preserve-3d;
    transition: 0.6s;
    background-color: #7dad14;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%,color-stop(0, rgb(137, 191, 21)),color-stop(1, rgb(112, 155, 19)));
    background-image: -webkit-linear-gradient(top,rgb(137, 191, 21) 0%,rgb(112, 155, 19) 100%);
    background-image: linear-gradient(to bottom,rgb(137, 191, 21) 0%,rgb(112, 155, 19) 100%);
    background-image: -ms-linear-gradient(top,rgb(137, 191, 21) 0%,rgb(112, 155, 19) 100%);
    color: #fff;
    cursor: pointer;
    float: left;
    width: 27vw;
    height: 27vw;

    margin: 1vw;
    padding: 0px;
    position: relative;

    margin: 1vw;
}
.advantage__image{
    text-align: center;
}
.advantage__title{
    box-sizing: border-box;
    font-family: 'Neo Sans Cyr', sans-serif;
    font-size: 1.31vw;
    font-weight: 500;
    left: 0px;
    margin: 0px;

    position: absolute;
    text-align: center;
    width: 100%;
}
.advantage__text{
    box-sizing: border-box;
    font-family: 'Neo Sans Cyr', sans-serif;
    font-size: 0.95vw;
    font-weight: 300;
    left: 0px;
    line-height: 1.84vw;
    margin: 0px;
    padding: 0 1vw;
    position: absolute;
    text-align: center;
    top: 10vw;
}
.map__box{
    position: relative;
    left: 35%;
    bottom: -1290px;
}
.product__view{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    max-width: 901px;
    position: relative;
    left: 23.1%;


}
.product__item{
    background: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,.12),0 0 3px rgba(0,0,0,.06);
    border-radius: 3px;
    transform: translate(0);
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;

    flex-basis: 100%;

    max-width: 200px;
    margin: 12px;
    height: 285px;
    padding: 52px;

}
.product_name {

}
.summary{

    position: absolute;
    bottom: 101%;
}
.pagination{

    position: absolute;
    bottom: -5%;
    left: 27.5%;

}
